<!DOCTYPE html>
<html lang="en">
<head>
	<title>traverCity- a Travel Recommendation Website</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link href="css/signupmain.css" rel="stylesheet" media="all">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!--<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">traverCity</a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="index.html#services-section" class="nav-link"><span>Services</span></a></li>
	          <li class="nav-item"><a href="index.html#about-section" class="nav-link"><span>About</span></a></li>
	          <li class="nav-item"><a href="index.html#destination-section" class="nav-link"><span>Destination</span></a></li>
	          <li class="nav-item"><a href="index.html#blog-section" class="nav-link"><span>Blog</span></a></li>
			  <li class="nav-item"><a href="index.html#contact-section" class="nav-link"><span>Contact</span></a></li>
			  <li class="nav-item"><a href="login.html" class="nav-link"><span>Login</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    -->

	<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins"  style="background-image: url('images/bg_2.jpg');">
        <div class="wrapper wrapper--w680 centered-box" style="">
            <div class="card card-4" >
                <div class="card-body" >
                  <center><h1 class="title">Thank You, Your Opinion Matters</h1></center>

                    <!-- <form method="POST"> -->


                        <div class="p-t-15">
                            <a href="rate"><button class="btn btn-light btn--radius-2 btn--green test1" style="background-color:#7aee9d;">Wanna Rate Some More !!</button></a>
                            <a href="user_home"><button class="btn btn--radius-2 btn--green" style="background-color:#eeec7a; margin-top:14px;">Get me back to my Home</button></a>
                        </div>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>


	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/global.js"></script>
    <script src="js/loginmain.js"></script>
    </script>
</body>
</html>
