<%- include("partials/header") %>
<h1 style="color:green;">Login</h1>

<div style="background-image:url("/images/about.jpg");">
  <form action="/login" method="post">
    <img src="/images/about.jpg" alt="trial">
    <label for="email">Email</label>
    <input type="email" name="username">
    <label for="password">Password</label>
    <input type="text" name="password">
    <button type="submit">Register</button>
  </form>
</div>


<%- include("partials/footer") %>
