<!DOCTYPE html>
<html lang="en">
<head>
	<title>traverCity- a Travel Recommendation Website</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <link href="css/signupmain.css" rel="stylesheet" media="all">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!--<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">traverCity</a>
	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
	          <li class="nav-item"><a href="index.html" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="index.html#services-section" class="nav-link"><span>Services</span></a></li>
	          <li class="nav-item"><a href="index.html#about-section" class="nav-link"><span>About</span></a></li>
	          <li class="nav-item"><a href="index.html#destination-section" class="nav-link"><span>Destination</span></a></li>
	          <li class="nav-item"><a href="index.html#blog-section" class="nav-link"><span>Blog</span></a></li>
			  <li class="nav-item"><a href="index.html#contact-section" class="nav-link"><span>Contact</span></a></li>
			  <li class="nav-item"><a href="login.html" class="nav-link"><span>Login</span></a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    -->

	<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins "  style="background-image: url('images/bg_2.jpg');">
        <div class="wrapper wrapper--w680 centered-box" style=" width: 70%;">
            <div class="card card-4" >
                <div class="card-body " >
                    <center><h2 class="title">Share your Experience's </h2></center>
                    <form action="/rate" method="POST">






                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                        <center>
                                            <div class="rating">
                                                <input type="radio" name="rating" value="1" id="rating-1" class="r-button" />
                                                <label for="rating-1"></label>
                                                <input type="radio" name="rating" value="2" id="rating-2" class="r-button"/>
                                                <label for="rating-2"></label>
                                                <input type="radio" name="rating" value="3" id="rating-3" class="r-button"/>
                                                <label for="rating-3"></label>
                                                <input type="radio" name="rating" value="4" id="rating-4" class="r-button"/>
                                                <label for="rating-4"></label>
                                                <input type="radio" name="rating" value="5" id="rating-5" class="r-button"/>
                                                <label for="rating-5"></label>
                                            </div>
                                        </center>

                                            <script>
                                                const ratingStars = document.querySelectorAll(".rating input");

                                                function handleRating(e) {
                                                const target = e.target;
                                                const value = target.value;
                                                const parent = target.parentNode;

                                                for (let i = 0; i < ratingStars.length; i++) {
                                                    if (i < value) {
                                                    parent.children[i].classList.add("selected");
                                                    } else {
                                                    parent.children[i].classList.remove("selected");
                                                    }
                                                }
                                                }

                                                ratingStars.forEach((star) =>
                                                star.addEventListener("click", handleRating)
                                                );
                                            </script>

                                            <select name="city">
                                                <option selected class="blank">
                                                    What's your say, My Friend
                                                </option>
                                                <% cities.forEach(function(value){ %>
                                                    <option value=<%= value %>> <%= value %> </option>
                                                <% }) %>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--green" type="submit" style="background-color:#7aee9d;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<script src="vendor/countdowntime/countdowntime.js"></script>
    <script src="js/global.js"></script>
    <script src="js/loginmain.js"></script>
    </script>
</body>
</html>
